html, body, #root {
  height: 100%;
  margin: 0;
}

body {
font-family: 'Rubik', sans-serif;
color: white !important;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

:root {
  --neonpurptrans: #bf00ffa8;
  --blacktrans: #00000033;
  --babyblue: #e8f3fe;
}

#main {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");

  width: 85% !important;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}

#header {
  display: flex;
  justify-content: flex-end;
  color: --var(--babyblue);
  
}

#header-avatar {
 padding-left: 10 px;
}

/* SECTION: SIDEBAR */
/* https://stackoverflow.com/questions/60482018/make-a-sidebar-from-react-bootstrap */

 /* #sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}  */
/* 
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}  */

/* #page-content-wrapper {
  min-width: 0;
  width: 100%;
} */

.side-navbar {
  /* overflow: auto;
  height: 100vh;
  width: 20% !important;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 100;


  /* display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 18%;
 justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; */



  /* https://www.transparenttextures.com/ */
  background: linear-gradient(
    to bottom,
    #00000080,
    #ff6bf348), url("./assets/images/holo-purp.jpg") repeat center center;
  padding: 1em;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  /* position: fixed;
  top: 0;

  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}

.nav-item {
  margin: 10px 0;
  cursor: pointer;
  /* transition: #292828 0.3s ease; */
}

.logo{
  color: var(--neonpurptrans);
}

/* .nav-item:hover {
  background-color: #e0e0e0; 
} */

/* SECTION: notification */
/* .notif-count {
  width:36;
  height:36;
  borderRadius:18;   
  backgroundColor:red;
 } */

 .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: var(--babyblue);

 }

login-modal{
  background: radial-gradient(#000000 0%, #00000050 100%) !important;
  background-size:cover !important;
  padding: 2rem !important;
  border: var(--neonpurptrans) 1px solid !important;
}
